@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", sans-serif;
}

.text-primary {
  color: #121d23;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold text-[#41bd47];
}

.home__todos-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}
.home__profile-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

.todo-card {
  @apply flex flex-col p-6 justify-center items-start text-primary bg-[#bdf5b9] hover:bg-white hover:shadow-md rounded-3xl;
}

.todo-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.todo-card__btn-container {
  @apply hidden group-hover:flex bottom-0 z-10;
}

.custom-filter__btn {
  @apply relative w-full min-w-[280px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.add-todo__btn {
  @apply w-2/4 flex items-center justify-center  cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.myBtnTodo {
  @apply fixed bottom-20 z-10 right-8 text-white text-lg bg-[#41bd47] px-6 py-4 rounded-xl;
}

.none {
  display: none;
}
